body {
    background-color: #0a0a0a;
    color: white;
}

.navbar {
    background-color: #111 !important;
}

.card {
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
      .champ-card {
          cursor: pointer;
          transition: 0.3s;
      }
      .champ-card:hover {
          transform: scale(1.05);
      }
      .champ-img {
          height: 120px;
          object-fit: cover;
      }
